.todolist-page {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.todolist-title-container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    font-size: large;
    background-color: white;
    padding: 15px 0;
}

.todolist-title-container > img {
    width: 24px;
    height: 24px;
}

.todo-list-main {
    flex: 1;
}

.todo-list-main > ul {
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
}

.new-todo-input {
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12);
}

.new-todo-input > input {
    padding-left: 12px;
    color: black;
    height: 30px;
    background-color: transparent;
    border: none;
    flex: 1;
    font-size: medium;
}

.new-todo-input > input:focus {
    outline: none;
}

.new-todo-input > button {
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    width: 36px;
    height: 36px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-todo-input > button > img {
    width: 30px;
    height: 30px;
}

.new-todo-input > button:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.2);
}

@media (min-width: 500px) {
    .todolist-page {
        padding-top: 40px;
        min-height: inherit;
        align-items: center;
    }
    .todolist-title-container {
        max-width: 800px;
    }
    .todo-list-main {
        order: 3;
        max-width: 800px;
        width: 100%;
    }

    .new-todo-input {
        align-self: inherit;
        max-width: 800px;
        width: 100%;
        order: 2;
        box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12),
            0 1px 3px rgba(0, 0, 0, 0.12);
        z-index: 3;
    }
}
